body {
    font-family: cursive;
    background-color: black;
    margin-top: 75px;
    animation-name: example;
    animation-duration: 4s;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.white {
    color: white;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

@keyframes example {
    from {width: 1px;height: 1px;font-size: 1%;text-align: center;}
    to {width: 1000px;height: 550px;font-size: 100%;text-align: center;}
}

